@media screen and (max-width: 640px) {
    /**mobile layout**/
    #navbar {
        padding-top: 15px;
    }
    #navbar a {
        font-size: 18px;
    }
}

#navbar {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 210px;
    padding: 20px;
    margin-bottom: 110px;
}